Consider following code to answer further questions:

In [ ]:
import pandas as pd

course_name = ['Data Science','Machine Learning', 'Big Data', 'Data Engineer']

duration = [2,3,6,4]

df = pd.DataFrame(data = {'course_name' : course_name, 'duration' : duration})
df

        course_name  duration
0      Data Science         2
1  Machine Learning         3
2          Big Data         6
3     Data Engineer         4

Q1. Write a code to print the data present in the second row of the dataframe, df.

In [8]:
df.iloc[1]

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

In [9]:
df.loc[1]

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

Q2. What is the difference between the functions loc and iloc in pandas.DataFrame?

Loc and iloc are two functions in Pandas that are used to slice a data set in a Pandas DataFrame. The function . loc is typically used for label indexing and can access multiple columns, while . iloc is used for integer indexing.

In [20]:
data = {'A': [1, 2, 3, 4, 5],
        'B': [6, 7, 8, 9, 10],
        'C': [11, 12, 13, 14, 15]}
df = pd.DataFrame(data)

In [21]:
df

   A   B   C
0  1   6  11
1  2   7  12
2  3   8  13
3  4   9  14
4  5  10  15

In [23]:
df.iloc[2,2]

13

In [26]:
df.loc[2,'B']

8

Q3. Reindex the given dataframe using a variable, reindex = [3,0,1,2] and store it in the variable, new_df
then find the output for both new_df.loc[2] and new_df.iloc[2].

Did you observe any difference in both the outputs? If so then explain it.
Consider the below code to answer further questions:

In [14]:
df

        course_name  duration
0      Data Science         2
1  Machine Learning         3
2          Big Data         6
3     Data Engineer         4

In [15]:
reindex = [3,0,1,2]

In [17]:
new_df=df.reindex(reindex)

In [18]:
new_df.iloc[2]

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

In [19]:
new_df.loc[2]

course_name    Big Data
duration              6
Name: 2, dtype: object

Consider the below code to answer further questions:

The loc function in pandas DataFrame is primarily label-based, which means it uses the index values to locate and retrieve data. It takes label-based arguments and retrieves data based on the index labels.

On the other hand, the iloc function is primarily integer position-based, which means it uses the integer positions to locate and retrieve data. It takes integer-based arguments and retrieves data based on the integer positions of the rows and columns.

So, loc follows the index labels, while iloc follows the integer positions of the rows and columns.

In [12]:
import pandas as pd
import numpy as np
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1,2,3,4,5,6]
#Creating a dataframe:
df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)

In [13]:
df1

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.985202  0.607756  0.791117  0.327289  0.962009  0.050655
2  0.333834  0.651962  0.783244  0.743980  0.832108  0.716372
3  0.939473  0.644808  0.565414  0.790785  0.200916  0.642639
4  0.944748  0.761758  0.890141  0.464636  0.433172  0.540707
5  0.340311  0.022646  0.358058  0.883100  0.146992  0.390199
6  0.852529  0.671182  0.520510  0.192641  0.957687  0.911879

Q4. Write a code to find the following statistical measurements for the above dataframe df1:
(i) mean of each and every column present in the dataframe.
(ii) standard deviation of column, ‘column_2’

In [28]:
df1.mean()

column_1    0.732683
column_2    0.560019
column_3    0.651414
column_4    0.567072
column_5    0.588814
column_6    0.542075
dtype: float64

In [30]:
df1['column_2'].std

<bound method NDFrame._add_numeric_operations.<locals>.std of 1    0.607756
2    0.651962
3    0.644808
4    0.761758
5    0.022646
6    0.671182
Name: column_2, dtype: float64>

Q5. Replace the data present in the second row of column, ‘column_2’ by a string variable then find the
mean of column, column_2.
If you are getting errors in executing it then explain why.
[Hint: To replace the data use df1.loc[] and equate this to string data of your choice.]

In [31]:
df1

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.985202  0.607756  0.791117  0.327289  0.962009  0.050655
2  0.333834  0.651962  0.783244  0.743980  0.832108  0.716372
3  0.939473  0.644808  0.565414  0.790785  0.200916  0.642639
4  0.944748  0.761758  0.890141  0.464636  0.433172  0.540707
5  0.340311  0.022646  0.358058  0.883100  0.146992  0.390199
6  0.852529  0.671182  0.520510  0.192641  0.957687  0.911879

In [32]:
df1.loc[2,'column_2']='string'

In [33]:
df1

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.985202  0.607756  0.791117  0.327289  0.962009  0.050655
2  0.333834    string  0.783244  0.743980  0.832108  0.716372
3  0.939473  0.644808  0.565414  0.790785  0.200916  0.642639
4  0.944748  0.761758  0.890141  0.464636  0.433172  0.540707
5  0.340311  0.022646  0.358058  0.883100  0.146992  0.390199
6  0.852529  0.671182  0.520510  0.192641  0.957687  0.911879

In [34]:
df1['column_2'].mean()

TypeError: unsupported operand type(s) for +: 'float' and 'str'

However, this code may raise an error because you are trying to calculate the mean of column 'column_2' which now contains a string value. Mean calculation requires numerical values, and a string cannot be included in the calculation.

If you encounter an error, it will be due to attempting to calculate the mean on a column that contains a non-numeric value. To resolve this, ensure that the data in 'column_2' is numeric before calculating the mean.

Q6. What do you understand about the windows function in pandas and list the types of windows
functions?

Pandas Window functions are functions where the input values are taken from a “window” of one or more rows in a series or a table and calculation is performed over them. The word window means the number of rows between the two boundaries by which we perform calculations including the boundary rows.

Q7. Write a code to print only the current month and year at the time of answering this question.
[Hint: Use pandas.datetime function]

In [35]:
pd.datetime.now().month

/tmp/ipykernel_78/3830033734.py:1: FutureWarning: The pandas.datetime class is deprecated and will be removed from pandas in a future version. Import from datetime module instead.
  pd.datetime.now().month

5

In [37]:
pd.datetime.now().year

/tmp/ipykernel_78/3216410289.py:1: FutureWarning: The pandas.datetime class is deprecated and will be removed from pandas in a future version. Import from datetime module instead.
  pd.datetime.now().year

2024

Q8. Write a Python program that takes in two dates as input (in the format YYYY-MM-DD) and
calculates the difference between them in days, hours, and minutes using Pandas time delta. The
program should prompt the user to enter the dates and display the result.

In [40]:
date1=pd.to_datetime(input('enter the first date (yyyy-mm-dd):'))
date2=pd.to_datetime(input('enter the second date (yyyy-mm-dd):'))
diff=date2-date1

days=diff.days
hours=diff.seconds//3600
minutes=(diff.seconds%3600)//60
print(f"difference : {days} days , {hours} hours , {minutes} minutes ")

enter the first date (yyyy-mm-dd): 2024-04-05
enter the second date (yyyy-mm-dd): 2024-04-26

difference : 21 days , 0 hours , 0 minutes

Q9. Write a Python program that reads a CSV file containing categorical data and converts a specified
column to a categorical data type. The program should prompt the user to enter the file path, column
name, and category order, and then display the sorted data.

In [ ]:
file_path=input('enter the file path :')
column_name=input('enter the column name :')
category_order=input("enter the category order ( comma-separated ) : ").split(",")

df=pd.read_csv("titanic_data.csv")

df[column_name]=pd.Categorical(df[column_name] , categories =category_order , ordered=True)

df_sorted=df.sort_values(by=column_name)

print(df_sorted)

Q10. Write a Python program that reads a CSV file containing sales data for different products and
visualizes the data using a stacked bar chart to show the sales of each product category over time. The
program should prompt the user to enter the file path and display the chart.

In [ ]:
import pandas as pd 
import matplotlib.pyplot as plt

file_path=input('enter the file path')
df=pd.read_csv(file_path)

df['Date']=pd.to_datetime(df['Date'])

pivot_data=df.pivot(index='Date' , columns='Product' , values='Sales')

pivot_data.plot(kind='bar' , stacked=True)
plt.xlabel('Date')
plt.ylabel('Sales')
plt.title('Sales of Products Over Time')
plt.show()

Q11. You are given a CSV file containing student data that includes the student ID and their test score. Write
a Python program that reads the CSV file, calculates the mean, median, and mode of the test scores, and
displays the results in a table.
The program should do the followingM
I Prompt the user to enter the file path of the CSV file containing the student dataR
I Read the CSV file into a Pandas DataFrameR
I Calculate the mean, median, and mode of the test scores using Pandas toolsR
I Display the mean, median, and mode in a table.
Assume the CSV file contains the following columnsM
I Student ID: The ID of the studentR
I Test Score: The score of the student's test.
Example usage of the program:
Enter the file path of the CSV file containing the student data: student_data.csv
+-----------+--------+
| Statistic | Value |
+-----------+--------+
| Mean | 79.6 |
| Median | 82 |
| Mode | 85, 90 |
+-----------+--------+
Assume that the CSV file student_data.csv contains the following data:
Student ID,Test Score
1,85
2,90
3,80
4,75
5,85
6,82
7,78
8,85
9,90
10,85
The program should calculate the mean, median, and mode of the test scores and display the results
in a table.

In [ ]:
import pandas as pd 
import matplotlib.pyplot as plt

file_path=input('enter the file path')

In [ ]:
df=pd.read_csv(file_path)

df['Date']=pd.to_datetime(df['Date'])

pivot_data=df.pivot(index='Date' , columns='Product' , values='Sales')

pivot_data.plot(kind='bar' , stacked=True)
plt.xlabel('Date')
plt.ylabel('Sales')
plt.title('Sales of Products Over Time')
plt.show()